/*HOME*/

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.btn_color {
  background-color: #005F6B;
  color: #00DFFC;
}

.card {
  color: #00B4CC;
}

.card {
  height: 100%;
}

.block_about {
  margin-top: 50px;
  margin-bottom: 100px;
}

.block_card {
  margin-bottom: 100px;
}

/* FIN HOME */