/* Couleur :
          #343838 rgb(52, 56, 56)
          #005F6B rgb(0, 95, 107)
          #008C9E rgb(0, 140, 158)
          #00B4CC rgb(0, 180, 204)
          #00DFFC rgb(0, 223, 252)
*/

body {
  color: #00B4CC;
  background-color: #343838;
  font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
  padding-top: 54px;
}

h1, h2, h3, h4, h5, h6 {
  color: #00DFFC;
}

h4 {
  font-size: 40px !important;
}

h5 {
  font-size: 25px !important;
}

nav {
  background-color: #005F6B;
  color: #fff;
}

footer {
  background-color: #005F6B;
}

a {
  text-decoration: none;
}

#contents {
  margin-bottom: 30px;
}

.iconeNav {
  color: #fff;
}

.btn-other {
  width: 50%;
  float: left;
  height: 40px;
  font-size: 18px;
}

.identifyB {
  background-color: #00B4CC;
  color: #fff;
}

a:hover {
  color: inherit;
}
.main, .main2 {
  text-align: center;
} 

.stat, .block_back {
  text-align: center;
}


.bg__card__navbar {
  background-color: #000000;
}

.bg__card__footer {
  background-color: #000000 !important;
}

#add__new__list {
  top: -38px;
  right: 0px;
}

.card-text {
  margin-bottom: 20px !important;
}


