/* Couleur :
          #343838 rgb(52, 56, 56)
          #005F6B rgb(0, 95, 107)
          #008C9E rgb(0, 140, 158)
          #00B4CC rgb(0, 180, 204)
          #00DFFC rgb(0, 223, 252)
*/

body {
  color: #00B4CC;
  background-color: #343838;
  font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
  padding-top: 54px;
}

nav {
  background-color: #005F6B;
  color: #fff;
}

footer {
  background-color: #005F6B;
}

h1,h2,h3,h4,h5,h6 {
  color: #00DFFC;
}

a {
  text-decoration: none;
}

/*HOME*/

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.btn_color {
  background-color: #005F6B;
  color: #00DFFC;
}

a:hover {
  color: inherit;
}

.card {
  color: #00B4CC;
}

.identifyB {
  background-color: #00B4CC;
  color: #fff;
}

.card {
  height: 100%;
}

/* FIN HOME */

.titreBillet {
  margin-bottom: 0px;
}

#contents {
  margin-bottom: 30px;
}

#titreBlog,
#piedBlog,
#messageIntro {
  text-align: center;
}

#titreReponses {
  font-size: 100%;
}

#author {
  margin-bottom: 5px;
}

#txtComment {
  width: 50%;
}

#imageUne {
  border: 2px solid #00DFFC;
  margin-bottom: 50px;
}

/* Page Error */
.display-1 {
  text-align: center;
  color: #e1b7b7;
}

.display-1 .fa {
  animation: fa-spin 5s infinite linear;
}

.display-3 {
  text-align: center;
  color: #df726a;
}

.lower-case {
  text-align: center;
}

.carre {
  margin: 25px;
}

/* connexion */

#login-name {
  font-size: 55px;
  padding-bottom: 50px;
  color: white;
  text-transform: uppercase;
}

#login {
  background-color: rgba(13, 13, 13, 0.2);
  min-height: 500px;
  padding: 40px 80px 40px 80px;
  box-shadow: -10px -10px 9px #00DFFC;
  margin: 0 auto;
}

.user {
  font-size: 29px;
  font-family: arabic typesetting;
  color: white;
}

#text1 {
  border-radius: 0;
  height: 40px;
}

#text2 {
  border-radius: 0;
  height: 40px;
}

.btn-other {
  width: 50%;
  float: left;
  height: 40px;
  font-size: 18px;
}

.retour-inscrip {
  margin-top: 25px;
}
