/* Couleur :
          #343838 rgb(52, 56, 56)
          #005F6B rgb(0, 95, 107)
          #008C9E rgb(0, 140, 158)
          #00B4CC rgb(0, 180, 204)
          #00DFFC rgb(0, 223, 252)
*/

@import url(styleViewError.css);
@import url(styleViewConnexion.css);
@import url(styleViewArticle.css);

body {
  color: #00B4CC;
  background-color: #343838;
  font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
  padding-top: 52px;
}

h1, h2, h3, h4, h5, h6 {
  color: #00DFFC;
}

nav {
  background-color: #005F6B;
  color: #fff;
}

footer {
  background-color: #005F6B;
}

a {
  text-decoration: none;
}

#imageUne {
  border-top: 2px solid #00DFFC;
  border-bottom: 2px solid #00DFFC;
  margin-bottom: 50px;
  height: 400px;
  width: 100%;
}

#contents {
  margin-bottom: 30px;
}

#titreBlog, #messageIntro {
  text-align: center;
}

.iconeNav {
  color: #fff;
}

.text-img {
  padding-top: 20%;
}

.business-header {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
}

.btn-other {
  width: 50%;
  float: left;
  height: 40px;
  font-size: 18px;
}

.identifyB {
  background-color: #00B4CC;
  color: #fff;
}

.btnAdmin {
  margin-right: 5px;
}

a:hover {
  color: inherit;
}

.btn_color {
  background-color: #005F6B;
  color: #00DFFC;
}

.card {
  color: #00B4CC;
}

.card {
  height: 100%;
}

.block_about {
  margin-top: 50px;
  margin-bottom: 100px;
}

.block_card {
  margin-bottom: 100px;
}

#Pagination {
  padding-right: 10px;
  padding-left: 10px;
}

@media (max-width: 1200px) {
  .centered {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .centered {
    font-size: 30px;
  }
}

@media (max-width: 450px) {
  .centered {
    font-size: 20px;
  }
}

@media (max-width: 350px) {
  .centered {
    font-size: 10px;
  }
}

